.funnies_single
{
    display: flex;
    font-family: 'comic-sans';
    font-size: 40px;
    border: 6px double #a400cd;
    border-radius: 15%;
    background-color: #f6ff00;
    color: #606060;
    transition: all 0.18s ease-in-out;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}
@media (max-width: 1000px) {
    .funnies_single {
        padding: 3px;
        font-size: 30px;
    }
}
@media (max-width: 700px) {
    .funnies_single {
        padding: 3px;
        font-size: 20px;
    }
}
.funnies_single:hover
{
    background-color: #d1d800;
    transform: scale(1.03);
    box-shadow: 0 0 5px black;
}

.funnies_single_text
{
    margin-right: 6px;
    margin-left: 2px;
    text-shadow: none;
}

.funnies_single_icons
{
    margin-left: auto;
    display: flex;
}

.funnies_single_icon
{
    border-radius: 20%;
    margin: 3px;
    transition: all 0.1s ease-in-out;
}
.funnies_single_icon:hover
{
    cursor: pointer;
    background-color: #d702da8d;
}
.funnies_single_icon:active
{
    background-color: transparent;
    color: #d702da8d;
}

.funnies_single_edit
{
    display: flex;
    border-color: #d702da8d;
    height: 75%;
    margin-top: 4px;
    font-size: 70%;
    width: 75%;
    border-radius: 8px;
}
@media (max-width: 1000px) {
    .funnies_single_edit {
        margin-top: 2px;
    }
}
@media (max-width: 600px) {
    .funnies_single_edit
    {
        margin-top: 0;
    }
}

.funnies_single_text_label
{
    text-shadow: none;
}